@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* Image by timolina on Freepik */
.home-page {
  background: url("https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=1800&t=st=1675454349~exp=1675454949~hmac=77f2dc96a5fdf8b30949e58c00dc1fb660e98660e12920c826e39133c57381ea")
    no-repeat center center;
  color: white;
  height: 100vh;
  /* width: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-brand {
  font-family: "Russo One", sans-serif;
}

.blah:focus {
  border-color: green !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

body {
  padding-top: 100px;
}
